<a href="https://colab.research.google.com/github/S5432/Gen_AI_Practice/blob/main/GenAI_NLP_Basic_Preprocessing_IMDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/datasets/crowdflower/twitter-airline-sentiment

#Emogies Unicodes

https://unicode.org/emoji/charts/full-emoji-list.html

# Text Preprocessing By using NLP on IMDB Dataset

In [153]:
import pandas as pd

In [154]:
df = pd.read_csv(r'/content/Tweets.csv')

In [155]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [156]:
df.shape

(14640, 15)

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tweet_id                      14640 non-null  int64
 1   airline_sentiment             14640 non-null  object
 2   airline_sentiment_confidence  14640 non-null  float64
 3   negativereason                9178 non-null   object
 4   negativereason_confidence     10522 non-null  float64
 5   airline                       14640 non-null  object
 6   airline_sentiment_gold        40 non-null     object
 7   name                          14640 non-null  object
 8   negativereason_gold           32 non-null     object
 9   retweet_count                 14640 non-null  int64
 10  text                          14640 non-null  object
 11  tweet_coord                   1019 non-null   object
 12  tweet_created                 14640 non-null  object
 13  tweet_location                9907 non-null   object
 14  user_timezone                 9820 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.7+ MB

In [158]:
# take only 200 data for the preprocessing.
df_1 = df.head(200)

In [159]:
df_1.shape

(200, 15)

# 1. lower case

In [161]:
df_1['text'][4]

"@VirginAmerica and it's a really big bad thing about it"

In [162]:
df_1['text'] = df_1['text'].str.lower()

<ipython-input-162-293baeedd71c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['text'] = df_1['text'].str.lower()

In [163]:
df_1['text'][4]

"@virginamerica and it's a really big bad thing about it"

In [164]:
df_1.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@virginamerica what @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@virginamerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@virginamerica i didn't today... must mean i n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@virginamerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@virginamerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

# 2. remove_html_tags

In [165]:
import re
def remove_html_tags(text):
  pattern = re.compile('<.*?>')
  return pattern.sub(r'', text)

In [166]:
text ="<html><body><p> Movie 1</p><p> Actor - Aamir Khan</p><p> Click here to <a href='http://google.com'>download</a></p></body></html>"

In [167]:
remove_html_tags(text)

' Movie 1 Actor - Aamir Khan Click here to download'

In [168]:
df_1['text'] = df_1['text'].apply(remove_html_tags)

<ipython-input-168-3b2853b89774>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['text'] = df_1['text'].apply(remove_html_tags)

In [169]:
df_1['text'][1]

"@virginamerica plus you've added commercials to the experience... tacky."

# 3. remove_url

In [39]:
def remove_url(text):
  pattern = re.compile(r'https?://\S+|www.\.\S+')
  return pattern.sub(r'', text)

In [45]:
text1 = 'Check out my youtube https://www.youtube.com/dswithbappy dswithbappy'
text2 = 'Check out my linkedin https://www.linkedin.com/in/boktiarahmed73/'
text3 = 'Google search here https://www.google.com'
text4 = 'For data click https://www.kaggle.com/'

In [46]:
remove_url(text1)

'Check out my youtube  dswithbappy'

In [47]:
remove_url(text2)

'Check out my linkedin '

In [48]:
remove_url(text3)

'Google search here '

In [49]:
remove_url(text4)

'For data click '

# 4. punctuation handling

In [50]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [51]:
exc = string.punctuation
exc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [61]:
# method 1
def remove_punc(text):
        for char in exc:
          text = text.replace(char,'')
        return text

In [62]:
text = 'string. With. Punctuation?!'

In [63]:
print(remove_punc(text))

string With Punctuation

In [65]:
start = time.time()
print(remove_punc(text))
time1 = time.time() - start
print(time1*50000)

# linear time complexcity.

string With Punctuation
11.610984802246094

In [66]:
# second method to do same work.
# more efficient method.
def remove_punc_1(text):
  return text.translate(str.maketrans('','',exc))

In [67]:
start = time.time()
remove_punc_1(text)
time2 = time.time() - start
print(time2*50000)

8.90493392944336

In [68]:
time1/time2

1.3038821954484605

In [170]:
df_1['text'][5]

"@virginamerica seriously would pay $30 a flight for seats that didn't have this playing.\nit's really the only bad thing about flying va"

In [171]:
remove_punc_1(df_1['text'][5])

'virginamerica seriously would pay 30 a flight for seats that didnt have this playing\nits really the only bad thing about flying va'

In [172]:
remove_punc(df_1['text'])

0                    @virginamerica what @dhepburn said.
1      @virginamerica plus you've added commercials t...
2      @virginamerica i didn't today... must mean i n...
3      @virginamerica it's really aggressive to blast...
4      @virginamerica and it's a really big bad thing...
                             ...
195    @virginamerica because we never rec'd cancelle...
196    @virginamerica trying to book a flight &amp; y...
197    @virginamerica you have any flights flying int...
198    @virginamerica you stink. flight cancelled fli...
199    @virginamerica i love your guy's song! we're d...
Name: text, Length: 200, dtype: object

#5 chat conversion handle

In [173]:
chat_words = {
    'AFAIK':'As Far As I Know',
    'AFK':'Away From Keyboard',
    'ASAP':'As Soon As Possible'
}


{
    "FYI": "For Your Information",
    "ASAP": "As Soon As Possible",
    "BRB": "Be Right Back",
    "BTW": "By The Way",
    "OMG": "Oh My God",
    "IMO": "In My Opinion",
    "LOL": "Laugh Out Loud",
    "TTYL": "Talk To You Later",
    "GTG": "Got To Go",
    "TTYT": "Talk To You Tomorrow",
    "IDK": "I Don't Know",
    "TMI": "Too Much Information",
    "IMHO": "In My Humble Opinion",
    "ICYMI": "In Case You Missed It",
    "AFAIK": "As Far As I Know",
    "BTW": "By The Way",
    "FAQ": "Frequently Asked Questions",
    "TGIF": "Thank God It's Friday",
    "FYA": "For Your Action",
    "ICYMI": "In Case You Missed It",
}

{'FYI': 'For Your Information',
 'ASAP': 'As Soon As Possible',
 'BRB': 'Be Right Back',
 'BTW': 'By The Way',
 'OMG': 'Oh My God',
 'IMO': 'In My Opinion',
 'LOL': 'Laugh Out Loud',
 'TTYL': 'Talk To You Later',
 'GTG': 'Got To Go',
 'TTYT': 'Talk To You Tomorrow',
 'IDK': "I Don't Know",
 'TMI': 'Too Much Information',
 'IMHO': 'In My Humble Opinion',
 'ICYMI': 'In Case You Missed It',
 'AFAIK': 'As Far As I Know',
 'FAQ': 'Frequently Asked Questions',
 'TGIF': "Thank God It's Friday",
 'FYA': 'For Your Action'}

In [174]:
def chat_conversion(text):
      new_text = []
      for w in text.split():
        if w.upper()in chat_words:
          new_text.append(chat_words[w.upper()])
        else:
          new_text.append(w)
      return " ".join(new_text)

In [175]:
chat_conversion("Do this work ASAP")

'Do this work As Soon As Possible'

# 6. Incorrect_text_handling

In [176]:
from textblob import TextBlob

In [83]:
incorrect_text = 'ceertain conditionas duriing seveal ggenerations aree moodified in the saame maner.'
text_b = TextBlob(incorrect_text)
text_b.correct().string

'certain conditions during several generations are modified in the same manner.'

# 7. stopwords removal

In [177]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [178]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [179]:
len(stopwords.words('english'))

179

In [180]:
def remove_stopwords(text):
   new_text = []
   for word in text.split():
      if word in stopwords.words('english'):
        new_text.append('')
      else:
        new_text.append(word)
   x =new_text[:]
   new_text.clear()
   return " ".join(x)

In [181]:
remove_stopwords('probably my all-time favorite movie, a story of selflessness, sacrifice and dedication to a noble cause, but it\'s not preachy or boring. it just never gets old, despite my having seen it some 15 or more times')

'probably  all-time favorite movie,  story  selflessness, sacrifice  dedication   noble cause,    preachy  boring.   never gets old, despite   seen   15   times'

In [182]:
df_1['text'].apply(remove_stopwords)

0                        @virginamerica  @dhepburn said.
1      @virginamerica plus  added commercials   exper...
2      @virginamerica   today... must mean  need  tak...
3      @virginamerica  really aggressive  blast obnox...
4               @virginamerica    really big bad thing
                             ...
195    @virginamerica   never rec'd cancelled flightl...
196    @virginamerica trying  book  flight &amp;  sit...
197    @virginamerica    flights flying  boston tomor...
198    @virginamerica  stink. flight cancelled flight...
199    @virginamerica  love  guy's song! we're dancin...
Name: text, Length: 200, dtype: object

In [183]:
# sencond methos to do same work.
def remove_stopwords_1(text):
    new_text = [word for word in text.split() if word not in stopwords.words('english')]
    return " ".join(new_text)

In [184]:
remove_stopwords_1('probably my all-time favorite movie, a story of selflessness, sacrifice and dedication to a noble cause, but it\'s not preachy or boring. it just never gets old, despite my having seen it some 15 or more times')

'probably all-time favorite movie, story selflessness, sacrifice dedication noble cause, preachy boring. never gets old, despite seen 15 times'

# 7. remove_emoji handle

In [185]:
import re
def remove_emoji(text):
  emoji_pattern  = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
  return emoji_pattern.sub(r'',text)

In [186]:
remove_emoji("Loved the movie. It was 😘😘")

'Loved the movie. It was '

In [187]:
remove_emoji("Lmao 😂😂")

'Lmao '

In [188]:
!pip install emoji

Requirement already satisfied: emoji in /usr/local/lib/python3.10/dist-packages (2.14.0)

In [189]:
import emoji
print(emoji.demojize('Python is 🔥'))

Python is :fire:

In [190]:
print(emoji.demojize('Loved the movie. It was 😘'))

Loved the movie. It was :face_blowing_a_kiss:

# **# 8. Tokenization**

# A. using the split function

In [191]:
# word tokenization
sent1 = 'I am going to Bangluru.'
sent1.split()

['I', 'am', 'going', 'to', 'Bangluru.']

In [192]:
# sentence tokenization
sent2 = 'I am goiing to delhi. I will stay there for 3 days. let\'s hope the trip to be great'
sent2.split('.')

['I am goiing to delhi',
 ' I will stay there for 3 days',
 " let's hope the trip to be great"]

In [193]:
# problems with split function
sent3 = 'I am going to Bangluru!'
sent3.split()
# did not split ! mark from the word.

['I', 'am', 'going', 'to', 'Bangluru!']

In [194]:
sent4 = 'Where do think I should go? I have 3 day holiday'
sent4.split('.')
# did not split  ? marks in the sentence.

['Where do think I should go? I have 3 day holiday']

# B. Regular Expression

In [195]:
import re
sent3 = 'I am going to Pune.'
tokens = re.findall("[\w]+", sent3)
tokens

['I', 'am', 'going', 'to', 'Pune']

In [196]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""
sentences = re.compile('[.!?]').split(text)
sentences

['Lorem Ipsum is simply dummy text of the printing and typesetting industry',
 "\nLorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book",
 '']

#C. NLTK

In [197]:
from nltk.tokenize import word_tokenize,sent_tokenize
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [198]:
sent1 ='I am going to Pune!'
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'Pune', '!']

In [199]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""

sent_tokenize(text)

['Lorem Ipsum is simply dummy text of the printing and typesetting industry?',
 "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,\nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

In [200]:
sent5 = 'I have a Ph.D in A.I'
sent6 = "We're here to help! mail us at nks@gmail.com"
sent7 = 'A 5km ride cost $10.50'

In [201]:
word_tokenize(sent5)

['I', 'have', 'a', 'Ph.D', 'in', 'A.I']

In [202]:
word_tokenize(sent6)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'nks',
 '@',
 'gmail.com']

In [203]:
word_tokenize(sent7)

['A', '5km', 'ride', 'cost', '$', '10.50']

# D. Spacy(good for tokenization)

In [204]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [205]:
doc1 = nlp(sent5)
doc2 = nlp(sent6)
doc3 = nlp(sent7)
doc4 = nlp(sent1)

In [127]:
doc4 = nlp(sent1)
doc4

I am going to Pune!

In [206]:
for token in doc4:
  print(token)

I
am
going
to
Pune
!

In [207]:
df_1.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@virginamerica what @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@virginamerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@virginamerica i didn't today... must mean i n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@virginamerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@virginamerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

#8. Stemmer  
(fast approach but not proivde semantic meaning of words after complete the process.)

In [130]:
from nltk.stem.porter import PorterStemmer

In [131]:
po = PorterStemmer()

In [139]:
def stem_words(text):
  return " ".join([po.stem(word) for word in text.split()])

In [140]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [141]:
sample1 = "write wrote written"
stem_words(sample1)

'write wrote written'

In [142]:
text = 'probably my alltime favorite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen it some 15 or more times in the last 25 years paul lukas performance brings tears to my eyes and bette davis in one of her very few truly sympathetic roles is a delight the kids are as grandma says more like dressedup midgets than children but that only makes them more fun to watch and the mothers slow awakening to whats happening in the world and under her own roof is believable and startling if i had a dozen thumbs theyd all be up for this movie'
print(text)

probably my alltime favorite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen it some 15 or more times in the last 25 years paul lukas performance brings tears to my eyes and bette davis in one of her very few truly sympathetic roles is a delight the kids are as grandma says more like dressedup midgets than children but that only makes them more fun to watch and the mothers slow awakening to whats happening in the world and under her own roof is believable and startling if i had a dozen thumbs theyd all be up for this movie

In [143]:
stem_words(text)

'probabl my alltim favorit movi a stori of selfless sacrific and dedic to a nobl caus but it not preachi or bore it just never get old despit my have seen it some 15 or more time in the last 25 year paul luka perform bring tear to my eye and bett davi in one of her veri few truli sympathet role is a delight the kid are as grandma say more like dressedup midget than children but that onli make them more fun to watch and the mother slow awaken to what happen in the world and under her own roof is believ and startl if i had a dozen thumb theyd all be up for thi movi'

#9. Lemmatization

- It is slow but provide good output.

**NOTE: Stemming & lamatization are same to retrieve root words but lamatization is worked good. Lamatization is slow & stemming is fast**

In [144]:
import nltk

In [145]:
from nltk.stem import WordNetLemmatizer

In [146]:
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [147]:
wordnet_lm= WordNetLemmatizer()

In [149]:
sentence = "He was running and eating at same time. He has bad habit of swimming after playing long hours in the Sun."
punctuations = "?:!.,;"
sentence_word = nltk.word_tokenize(sentence)

In [152]:
for word in sentence_word:
  if word in punctuations:
    sentence_word.remove(word)

sentence_word
print("{0:20}{1:20}".format("Word","Lemma"))

for word in sentence_word:
  print("{0:20}{1:20}".format(word, wordnet_lm.lemmatize(word,pos='v')))

Word                Lemma
He                  He
was                 be
running             run
and                 and
eating              eat
at                  at
same                same
time                time
He                  He
has                 have
bad                 bad
habit               habit
of                  of
swimming            swim
after               after
playing             play
long                long
hours               hours
in                  in
the                 the
Sun                 Sun